h1 {
    text-align: center;
}

h3{
    text-align: center;
}

.container{
    width: 50%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}

.flex-container > div {
    margin: 10px;
    font-size: 30px;
}

.flex-container > img {
    background-color: red;
}

.pic{
    width:100%;
    height: 100%;
}

.choices {
    text-align: center;
}

.hidden{
    display: none;
}

.result {
    margin: auto;
}

#rockPicture{
    display: none;
}

#winPicture{
    display: none;
}

#lostPicture {
    margin: 0 auto;
    display:none;
}

#vsPicture{
    display: none;
}

#drawPicture {
    margin: 10% auto;
    width:50%;
    height:50%;
    display: none;
}